#postIt {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 45%;
  min-height: 250px;
  max-height: 450px;
  padding: 1rem;

  @media screen and (min-width: 768px){
    width: 33%;
  }

  @media screen and (min-width: 990px){
    width: 23%;
  }

  @media screen and (min-width: 1024px){
    width: 13%;
  }

  #deletePostItButtonContainer{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem;

    #deletePostItButton{
      width: 25px;
      height: auto;
      height: auto;
      border: none;
      background-color: transparent;
    }
  }

  #content{
    width: 100%;
    min-height: 100%;
    padding: 1rem;

    p{
      font-size: 16px;
    }
  }
}
